@tailwind base;
@tailwind components;
@tailwind utilities;

.deck {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  box-sizing: border-box;
}

.card {
  width: 100px;
  box-sizing: border-box;
  height: 150px;
  padding-top: 40px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 10px;
  border: solid 1px #e0e0e0;
  font-size: 30pt;
  text-align: center;
  color: black;
  position: relative;
  transition: all 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
  top: -5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card.heart,
.card.diamond {
  color: red;
}
